{% extends "app_agenda/plantilla_base.html" %}
{% load static %}


{% block contenido_base %}
<div style="padding-top: 100px;"></div>
<div style="padding-left: 107px;">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <div class="container thumbs">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static 'app_agenda/imagenes/yo1.png' %}" alt="" class="img-circle">
            <div class="caption">

             
              
    
            </div>
          </div>
        </div>  
    Mi nombre es <b>Cristian Saccani</b>.<br>
    Vivo en la ciudad de La Plata (Argentina) desde hace quince años. 
    Con algunos acercamientos previos a la programación, promediando la tercera década en este plano me dio por incursionar en ella de forma un poco más decidida.<br>
     Otros ambientes en qyue exploro frecuentemente (siempre en calidad de aprendiz) son el ajedrez, el piano y la botánica. .<br>
    <b>Considero que el respeto hacia el resto de los ocupantes de este planeta es un imperativo moral insoslayable. <br>
    El arte urbano les abrió sus puertas y quise ver qué había tras ella. </b>



</body>
</html>
{% endblock contenido_base %}