
{% extends "app_agenda/plantilla_base.html" %}
{% load static %}


{% block contenido_base %}
<div style="padding-top: 100px;"></div>
<div style="padding-left: 107px;">

<h2>Datos de usuario:</h2>
<br>
<li>Nombre de usuario:  <b>{{user}}</b><br><br></li>
<li>E-mail: <b>{{user.email}}</b><br><br></li>

<li>Ávatar: <a href="{% url 'datos_usuario' %}" > <picture style="position: relative; display: inline-block; vertical-align: middle; width: 30px; height: 30px; border-radius: 30px; overflow: hidden; margin-right: 10px;"><img style="width: 100%; position: absolute; top:50%; transform: translateY(-50%); left:0;" src="{{ user.avatar.imagen.url }}" /></picture></a> <br>
</li><br><br>
<a href="{% url 'editar_perfil' %}" class="btn btn-primary" >Editar usuario</a></p>
<a href="{% url 'agregar_avatar' %}" class="btn btn-primary" >Ingresar avatar</a></p>

{% endblock contenido_base %}