{% extends "app_agenda/plantilla_base.html" %}
{% load static %}


{% block contenido_base %}
<div style="padding-top: 100px;"></div>
<div style="padding-left: 107px;">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
  <div style="padding:20px; background: rgb(218, 245, 205); border-radius:8px; box-shadow: 0 3px 12px 0 rgba(0,0,0,.2); display: block; margin: 50px auto; width: 400px; text-align: center;">
  <h4> <span style="display: block; font-size: 100px; margin-bottom: 20px;"> 👋 </span>Gracias por visitarnos.<br> Hasta la próxima!!!</h4>
  </div>  
</body>
</html>
{% endblock contenido_base %}