{% extends "app_agenda/plantilla_base.html" %}
{% load static %}


{% block contenido_base %}

<div style="padding-top: 100px;"></div>
<div style="padding-left: 107px;">
   
    <b>EDICIÓN DE CAMPOS:</b<br><br><br>
    <form enctype= "multipart/form-data" method='POST'> 
        {% csrf_token %}   
        
        <p> Imagen
            <input type="file" name="imagen">
            </p>
            <p> Ciudad
           <input type="text" name="ciudad">
           </p>
           <p> País
           <input type="text" name="pais">
            </p>
            <p> Fecha de fotografía
            <input type="date" name="fecha">
            </p>
        
            <p> Autor de fotografía
            <input type="text" name="autor">
            </p>
                 
                <p> Descripción
                <textarea rows="4" name="descripcion"></textarea>
                </p>

        <input type="Submit" value="Editar"/> 
    </form>

{% endblock contenido_base %}    