    
    {% extends "app_agenda/plantilla_base.html" %}
    {% load static %}
    
    
    {% block contenido_base %}
    <div style="padding-top: 100px;"></div>
    <div style="padding-left: 107px;">
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Document</title>
    </head>
    <body>
        
        <html lang="en">
            <form enctype="multipart/form-data" method='POST'>
                {% csrf_token %}
            
                <b>POSTEO DE INTERACCIONES:</b>
                <br>
                <br>
                 <p> Imagen
                <input type="file" name="imagen">
                                </p>
                <p> Ciudad
               <input type="text" name="ciudad">
               </p>
               <p> País
               <input type="text" name="pais">
               </p>
                <p> Fecha de fotografía
                <input type="date" name="fecha">
                </p>
               
                <p> Autor de fotografía
                    <input type="text" name="autor">
                    </p>
                       <p> Descripción
                   <textarea rows="4" name="descripcion"></textarea>
                    </p>
                    <input type="Submit" value="Enviar"/> 
                    </form>
    


</body>
</html>

{% endblock contenido_base %}