{% extends "app_agenda/plantilla_base.html" %}
{% load static %}

{% block contenido_base %}
<div style="padding-top: 100px;">
<div style="padding-left: 107px;">



<form  method='POST'>
{% csrf_token %}    
NUEVO INGRESO:
<br>
<br>
<p> NOMBRE 
<input type="text" name="nombre">
</p>
<p> ESPECIE
<input type="text" name="especie">
</p>
<p> SEXO
<input type="text" name="sexo">
</p>
<p> FECHA DE NACIMIENTO
<input type="date" name="fecha_de_nacimiento"> 
</p>
<input type="Submit" value="Ingresar"/>

</form>


</div>


{% endblock contenido_base %}