{% load static %}
<!DOCTYPE html>
{%csrf_token%}
<html>
  <head>
    <title> </title>
      <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'app_agenda/imagenes/favi.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <!-- Bootstrap -->
    <link href= "{% static '/app_agenda/css/bootshape.css' %}" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">    
    
    <!--Bootshape-->
    <link href="{% static 'app_agenda/css/bootstrap.css' %}" rel="stylesheet">
  
    
  </head>

  <body>
    
    <!-- Navigation bar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="{% url 'inicio' %}"><strong class="green">Arte</strong>Bio</a> <!--titulo-->
        </div>
        <nav role="navigation" class="collapse navbar-collapse navbar-right">   <!--menú-->
          <ul class="navbar-nav nav">
            <li ><a href="{% url 'inicio' %}">HOME</a></li>
            <li><a href="{% url 'p_interacciones' %}">Interacciones</a></li>
            <li><a href="{% url 'p_animal' %}">Animales</a></li>
            <li><a href="{% url 'p_plantas' %}">Plantas</a></li>
            
            
            {% if user.is_authenticated %}
            
           
            
            <li><a href="{% url 'datos_usuario' %}" > <picture style="position: relative; display: inline-block; vertical-align: middle; width: 30px; height: 30px; border-radius: 30px; overflow: hidden; margin-right: 10px;"><img style="width: 100%; position: absolute; top:50%; transform: translateY(-50%); left:0;" src="{{ user.avatar.imagen.url }}" /></picture>{{user}} </a></li>
            <li><a href="{% url 'logout' %}" >Cerrar sesión</a></li>     
 
       
            {% else %}
            <li ><a href="{% url 'registro' %}">Registrarse</a></li>
            <li><a href="{% url 'Login' %}" >Iniciar sesión</a></li>
            {% endif %}

         
            


          </ul>
        </nav>
      </div>
    </div><!-- End Navigation bar -->
  </div><!-- End Slide gallery -->

  
  {% block contenido_base %}
  {% endblock contenido_base %}


  
 
 <!-- Footer-->
 <footer class="footer bg-light">
  <div class="container">
    <p class="text-center" style="border-bottom: solid 1px #ccc; padding-bottom: 20px; margin-bottom: 20px;">&copy;  Hecho por R. Cristian S. - Proyecto Final Coderhouse > <b>Python</b> (framework <b>Django</b>) - 2022 </p>
      <div class="row">
          <div class="col-lg-6 h-100  text-lg-start my-auto">
              <ul class="list-inline mb-2">
                  <li class="list-inline-item"><a href="{% url 'acerca' %}">Acerca de mí</a></li>
                  <li class="list-inline-item">⋅</li>
                  <li class="list-inline-item"><a href="{% url 'contacto' %}">Contacto</a></li>
                
              </ul>
              <p class="text-muted small mb-4 mb-lg-0">&copy; ArteBio</p>
          </div>
          <div class="col-lg-6 h-100 text-right text-lg-end my-auto">
              <ul class="list-inline mb-0">
                  <li class="list-inline-item me-4">
                    <a href="https://www.facebook.com/cristian.saccani.3/" target="_blank" ><i class="fab fa-facebook"></i></a>
                  </li>
                  <li class="list-inline-item me-4">
                    <a href="https://www.instagram.com/natgeo/"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li class=" list-inline-item">
                      <a href="https://www.instagram.com/cristian.saccani.3/" target="_blank"><i class="fab fa-instagram"></i></a>

                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- // <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="{% static 'app_agenda/js/jquery.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'app_agenda/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app_agenda/js/bootshape.js' %}"></script>

    
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </body>
</html>

