{% extends "app_agenda/plantilla_base.html" %}
{% load static %}


{% block contenido_base %}
<div style="padding-top: 100px;">
<div style="padding-left: 107px;"></a>

Bienvenido a la sección PLANTAS. <br>
A continuación podrás generar un nuevo ingreso. 
<br>
<br>

<a href="{% url 'form_plantas' %}">"Añadir planta"</a><br>
<a href="{% url 'busqueda_plantas' %}">"Buscar planta"</a><br><br><br>


<table class="coder-table">
    <tbody>
        <style>
            table.coder-table {
              border:3px solid;
            }
            th,
            td {
              border:1px solid;
              padding:5px 10px;
            }
            .eliminado {
              background-color: red;
            }
            .eliminado {background-color: rgb(163, 43, 43); font: 100;color: white;}
          </style>

   {% if borrado %}
        <div class="eliminado"> Fue eliminado el item correspondiente a: {{borrado}}
          {% endif %}

      <tr>
        <th>
          <strong>Especie</strong>
        </th>
        <th>
          <strong>Fecha de adopción</strong>
        </th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>


      <h3>TODAS LAS PLANTAS </h3>     
      {% for planta in plantas %}
      <tr>
        <td>{{planta.especie}}</td>
        <td>{{planta.fecha_de_adopcion}}</td>
       
        <td><a href="{% url 'editar_item_planta' planta.especie %}">Editar</a></td>
        <td><a href="{% url 'eliminar_item_planta' planta.especie %}">Eliminar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table><br><br><br>        
  <h4 class="text-center"> Desde BioAgenda te apoyamos a germinar plantas. Próximamente te compartiremos material de ayuda!!! </h4>
{% endblock contenido_base %}