{% extends "app_agenda/plantilla_base.html" %}
{% load static %}

{% block contenido_base %}

<div style="padding-top: 100px;">
<div style="padding-left: 107px;">
{% if borrado %}
<div class="eliminado"> Fue eliminado el item correspondiente a: {{borrado}}</div>
{% endif %}
          
Bienvenidos a la sección de graffitis de ANIMALES : <br>

<td><a href="{% url 'form_animales' %}"> Crear posteo </a></td>


{% for posteo in posteos %}
<br><br><br><br>
<img src="{{posteo.imagen.url}}" width="500"><br><br>
Ciudad: <td>{{posteo.ciudad}}</td><br><br>
Pais: <td>{{posteo.pais}}</td><br><br>
Fecha: <td>{{posteo.fecha}}</td><br><br>
Autor: <td>{{posteo.autor}}</td><br><br>
Descripción: <td>{{posteo.descripcion}}</td><br><br>

<td><a href="">Buscar</a></td>
<td><a href="">Editar</a></td>
<td><a href="">Eliminar</a></td>
<br><br><br><br>
{% endfor %} {% endblock contenido_base %}




         