{% extends "app_agenda/plantilla_base.html" %}
{% load static %}


{% block contenido_base %}
<div style="padding-top: 100px;">
<div style="padding-left: 107px;"></a>

Bienvenido a la sección PLANTAS. <br>
A continuación podrás generar un nuevo ingreso. 
<br>
<br>

<a href="{% url 'form_plantas' %}">"Añadir planta"</a><br>
<a href="{% url 'busqueda_plantas' %}">"Buscar planta"</a>



<h3>TODAS LAS PLANTAS</h3>
{%for planta in plantas%}

<br><br>
<span> {{planta.especie}} - Fecha de adopción: {{planta.fecha_de_adopcion}} </span>

{%endfor%}
</div>

{% endblock contenido_base %}