

{% extends "app_agenda/plantilla_base.html" %}
{% load static %}


{% block contenido_base %}
<div style="padding-top: 100px;"></div>
<div style="padding-left: 107px;">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
   
    
    {% if mensaje %}
   <h4> <span > 😀 Felicitaciones {{user}}!!! {{mensaje}}</span></h4>
     
    {% endif %}
    
    {% if gracias %}
<h4><span > 😀 <b>Gracias</b> por utilizar ArteBio <b>{{user}}</b>!!! {{gracias}}</span></h4>
    <br><br><br><br>

    <td><a href="{% url 'p_interacciones' %}">Interacciones</a></td><br><br>
    <td><a href="{% url 'p_animal' %}">Animales</a></td><br><br>
    <td><a href="{% url 'p_plantas' %}">Plantas</a></td>
    
    


    {% endif %}
    
    {% if error1 %}
    <span > 🙄 Cuidado !!! {{error1}}</span>
    {% endif %}
    
</body>
</html>
{% endblock contenido_base %}