




{% extends "app_agenda/plantilla_base.html" %}
{% load static %}


{% block contenido_base %}
<div style="padding-top: 100px;"></div>
<div style="padding-left: 107px;">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
{% if mensaje %}
<span><h4> {{mensaje}} 😀 Iniciá sesión y disfrutá tu visita a<b> ArteBio</b></span></h4><br><br><br>

<br><br> <a href="{% url 'Login' %}" class="btn btn-primary">Iniciar sesión</a></p>
{% endif %}

{% if gracias %}
<span style="background-color: green;"> Gracias por utilizar <b>ArteBio</b> 😀!!! {{gracias}} Que disfrutes tu visita!!!</span>
{% endif %}

{% if error1 %}
<span style="background-color: red;"> Cuidado 🤔!!! {{error1}}</span>

<br><br> <a href="{% url 'Login' %}" class="btn btn-primary">Ingresar</a></p>
{% endif %}



</body>
</html>
{% endblock contenido_base %}
