

{% extends "app_agenda/plantilla_base.html" %}
{% load static %}


{% block contenido_base %}
<div style="padding-top: 100px;"></div>
<div style="padding-left: 107px;">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
   
    
    {% if mensaje %}
   <h4> <span > 😀 Felicitaciones {{user}}!!! {{mensaje}}</span></h4>
        <!-- Thumbnails -->
        <div class="container thumbs">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{% static 'app_agenda/imagenes/fija.jpg' %}" alt="" class="img-circle">
              <div class="caption">
                <h3 class="text-center">Interacciones</h3>
                   
                <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut tincidunt volutpat urna quis dolor a felis congue sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation mco laboris nisi ut aliquip ex ea commodo consequat. 
                <br><br> <a href="{% url 'p_interacciones' %}" class="btn btn-primary">Ingresar</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{% static 'app_agenda/imagenes/fija1.jpg' %}" alt="" class="img-circle">
              <div class="caption">
                <h3 class="text-center">Animales</h3>
               
                <p class="text-center">Lorem ipsum dolor sit amet, to make a type specimen book. It has survived not only five centuries,consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo  
                <br><br><a href="{% url 'p_animal' %}" class="btn btn-primary" >Ingresar</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{% static 'app_agenda/imagenes/fija2.jpg' %}" alt="" class="img-circle" >
              <div class="caption">
                <h3 class="text-center">Plantas</h3>
                 
                <p class="text-center">Etiam at ligula et tellus ullamcorper ultrices. In fermentum, lorem non cursus porttitor, diam urna accumsan lacus, sed interdum wisi nibh nec nisl. Ut tincidunt volutpat urna quis dolor a felis to make a type specimen book. It has survived congue vehicula. 
                  <br><br> <a href="{% url 'p_plantas' %}" class="btn btn-primary">Ingresar</a></p>
              </div>
            </div>
          </div>
    {% endif %}
    
    {% if gracias %}
    <h4><span > 😀 <b>Bienvenido {{user}}</b>! {{gracias}}</span></h4>
   <!-- Thumbnails -->
   <div class="container thumbs">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{% static 'app_agenda/imagenes/fija.jpg' %}" alt="" class="img-circle">
        <div class="caption">
          <h3 class="text-center">Interacciones</h3>
             
          <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut tincidunt volutpat urna quis dolor a felis congue sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation mco laboris nisi ut aliquip ex ea commodo consequat. 
          <br><br> <a href="{% url 'p_interacciones' %}" class="btn btn-primary">Ingresar</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{% static 'app_agenda/imagenes/fija1.jpg' %}" alt="" class="img-circle">
        <div class="caption">
          <h3 class="text-center">Animales</h3>
         
          <p class="text-center">Lorem ipsum dolor sit amet, to make a type specimen book. It has survived not only five centuries,consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo  
          <br><br><a href="{% url 'p_animal' %}" class="btn btn-primary" >Ingresar</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{% static 'app_agenda/imagenes/fija2.jpg' %}" alt="" class="img-circle" >
        <div class="caption">
          <h3 class="text-center">Plantas</h3>
           
          <p class="text-center">Etiam at ligula et tellus ullamcorper ultrices. In fermentum, lorem non cursus porttitor, diam urna accumsan lacus, sed interdum wisi nibh nec nisl. Ut tincidunt volutpat urna quis dolor a felis to make a type specimen book. It has survived congue vehicula. 
            <br><br> <a href="{% url 'p_plantas' %}" class="btn btn-primary">Ingresar</a></p>
        </div>
      </div>
    </div>
    {% endif %}
    
    {% if error1 %}
    <h4><span > 🙄 Cuidado !!! {{error1}}</span></h4><br>
 <a href="{% url 'Login' %}" class="btn btn-primary">Iniciá sesión</a></p>
    {% endif %}
    
     

    <br><br>
</body>
</html>
{% endblock contenido_base %}