{% extends "app_agenda/plantilla_base.html" %}

{% block contenido_base %}

<div style="padding-top: 100px;"></div>
<div style="padding-left: 107px;">


    {% for planta in plantas %}
<p>Graffitis de: <b>{{planta.ciudad}}</b>, {{planta.pais}} </p>

<img src="{{planta.imagen.url}}" width="500"><br><br><br>

<b>Fecha de fotografía:</b> <li>{{planta.fecha}}</li><br>

<b>Autor de fotografía: </b><li>{{planta.autor}}</li><br>

<b>Descripción:</b><li>{{planta.descripcion}}</li><br><br><br>

{% endfor %}

</ul>
{% endblock contenido_base %}