{% extends "app_agenda/plantilla_base.html" %}

{% block contenido_base %}
<div style="padding-top: 100px;"></div>
<div style="padding-left: 107px;">


{% for animal in animales %}

<p>Estás buscando a graffitis de: <b>{{animal.ciudad}}, {{animal.pais}}</b></p><br>
<div style="padding:20px; background: rgb(218, 245, 205); border-radius:8px; box-shadow: 0 3px 12px 0 rgba(0,0,0,.2); display: inline-block; margin: 0 20px 20px 0; vertical-align: top; max-width: 30%;">
<img src="{{animal.imagen.url}}" width="100%"><br><br>

<b>Fecha de fotografía:</b> <li>{{animal.fecha}}</li><br>

<b>Autor de fotografía: </b><li>{{animal.autor}}</li><br>

<b>Descripción:</b><li>{{animal.descripcion}}</li></div>


{% endfor%}


</ul>

{% endblock contenido_base %}